.procedure-container{
    width: 15rem;
    height: 10rem;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    > div {
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
    }
}
.method-container {
    width: 15rem;
    height: 10rem;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    > div {
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
    }
}