.table-container {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-container-child {
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
}

.table-header {
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}

td, th {
    border: 1px solid #6c6c6c;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
}
table {
    border-collapse: collapse;
}
 
tbody tr:nth-child(odd) {
    background: #eee;
}
caption {
    font-size: 0.8rem;
}

.interpolation-input {
    padding: .5rem;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: inherit;
}

button{
    border: none;
    cursor: pointer;
    background-color: inherit;
}

.outer-buttons {
    padding: .8rem;
    margin-top: .8rem;
    font-family: Helvetica, sans-serif;
    background-color: rgba(218, 221, 224, 0.882);
    font-size: 1rem;
    border-radius: 10px;
}
.outer-buttons:hover {
    padding: .8rem;
    margin-top: .8rem;
    font-family: Helvetica, sans-serif;
    background-color: rgba(160, 161, 161, 0.882);
    font-size: 1rem;
    border-radius: 10px;
}

.value-point {
    padding-top: 1rem;
    font-weight: bold;
}
